body{
    font-family: Helvetica;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 200;
}

.titre {
    text-align: center;
    font-size: 3em;
    margin: 0;
}

nav{
    box-shadow: 1px 1px 10px #000;
}

.header{
    padding: 5px 5px;
    margin: 0 auto;
    max-width: 980px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


footer {
     background-color: #45a1ff;
     position: absolute;
     bottom: 0;
     width: 100%;
}

.grid-flex {
    display: flex;
    justify-content: center;
  }
  
.position-flex {
  justify-content: center;
}



  .barre {
    border-top: 5px solid rgba(255, 0, 0, 0.8);
    width: 100vw;
    position: absolute;
  }

  .v1 {
    border-left: 1px solid black;
    height: 100vw;
    left: 100px;
    position: absolute;
  }

  .v2 {
    border-right: 1px solid black;
    height: 100vw;
    right: 100px;
    position: absolute;
  }

  img {
    width : 250px;
    height : 250px;
    }
